@charset "UTF-8";

/*
    Paleta de Cores
    Falta fazer
    Azul - #001789
    Lilás - #5f2cb2
    Amarelo - #ffe840
*/

:root{
    --cor-azul:#001789;
    --cor-Lilas:#5f2cb2;
    --cor-Amarelo:#ffe840;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: var(--cor-Lilas);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.474);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#image{
    display: block;
    background: var(--cor-Lilas) url(../images/39511.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;

}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: var(--cor-azul);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label.nome{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor-Amarelo);
    color: var(--cor-azul);
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover{
    background-color: #fadd00;
}

form > a.botao{
    position: relative;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: #ffe94084;
    color: var(--cor-azul);
    text-decoration: none;
    border: 1px solid #00178993;
    border-radius: 5px;
}

form > a.botao:hover{
    background-color: #fadd00;
}

form > a.botao > span{
    font-size: 0.8em;
}